{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Formulaire d'inscription</h1>

		{{ form_start(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.prenom) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password) }}

		<button class="btn btn-primary">S'inscrire</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
